form.userbox label { display: inline-block; width: 210px; }

form.userbox div.submit { margin: 0.3em 0; }

form.userbox input[type="submit"] { padding: 0.3em 1.0em; }
form.userbox div.input { margin: 0.3em 0; }

form.userbox .error-message { color: red; display: inline-block; margin: 0 1em; }

.userbox.form-login-ajax { font-size: 0.875em; }
.userbox.form-login-ajax .auth-data .input.email { display: inline-block; width: 60%; }
.userbox.form-login-ajax .auth-data .input.password { display: inline-block; float: right; width: 40%; }
.userbox.form-login-ajax form div.submit { height: 1px; left: -9999px; position: absolute; width: 1px; }
.userbox.form-login-ajax form a { display: inline-block; padding: 0 0.25em; text-align: center; }

.userbox.form-login-ajax input { border: 1px solid; display: block; font-size: 0.85em; margin: auto; width: 90%; }
.userbox.form-login-ajax button { border: 1px solid; float: right; font-size: 0.85em; }
.userbox.form-login-ajax div.error-message { display: none; }
.userbox.form-login-ajax ul { display: inline-block; margin: 0; padding: 0; float: right; }
.userbox.form-login-ajax ul li { display: inline-block; list-style: none outside none; }

.userbox.password-reset label { display: inline-block; width: 170px; vertical-align: top; text-align: right; margin-right: 20px; color: #777777; }
.userbox.password-reset .recaptcha { display: inline-block; min-height: 140px; }
.userbox.password-reset button[type=submit] { display: block; margin-left: 190px; margin-top: 1em; padding: 0.3em 1em; }
.userbox.password-reset form > .input { margin: 0.3em 0; }
.userbox.password-reset .input.recaptcha .error-message { float: right; }

.userbox .input .error-message { margin-left: 1em; color: #ed9121; }